name: VyOS arm64 build

on:
  schedule:
    - cron: "0 1 * * 5"

  workflow_dispatch:
    inputs:
      BUILD_BY:
        description: 'Builder identifier (default: hello@xexex.vip)'
        default: 'hello@xexex.vip'
      build_version:
        description: 'Version number (default: YYYY.MM.DD-TIMESTAMP-rolling)'
        default: 'YYYY.MM.DD-TIMESTAMP-rolling'
      builder_image:
        description: 'Builder image (default: ghcr.io/huihuimoe/vyos-arm64-build/vyos-builder:current-arm64, official: docker.io/vyos/vyos-build:current-arm64)'
        default: 'ghcr.io/huihuimoe/vyos-arm64-build/vyos-builder:current-arm64'

env:
  DEBIAN_MIRROR: http://deb.debian.org/debian/
  DEBIAN_SECURITY_MIRROR: http://deb.debian.org/debian-security
  VYOS_MIRROR: https://packages.vyos.net/repositories/current/

jobs:
  build_generic_iso:
    runs-on: ubuntu-24.04-arm
    permissions:
      contents: write
    container:
      image: ${{ github.event.inputs.builder_image || 'ghcr.io/huihuimoe/vyos-arm64-build/vyos-builder:current-arm64' }}
      options: --sysctl net.ipv6.conf.lo.disable_ipv6=0 --privileged --user root
    defaults:
      run:
        shell: bash
    outputs:
      BUILD_BY: ${{ steps.set_env_variables.outputs.BUILD_BY }}
      build_version: ${{ steps.set_env_variables.outputs.build_version }}
      TIMESTAMP: ${{ steps.set_env_variables.outputs.TIMESTAMP }}
      PREVIOUS_SUCCESS_BUILD_TIMESTAMP: ${{ steps.set_env_variables.outputs.PREVIOUS_SUCCESS_BUILD_TIMESTAMP }}
      generic_image_iso: ${{ steps.build_generic_iso.outputs.generic_image_iso }}
      generic_image_name: ${{ steps.build_generic_iso.outputs.generic_image_name }}

    steps:
      - name: Install Dependencies
        run: |
          source <(sed -n '/enable programmable completion/,$p' /etc/skel/.bashrc)
          set -ex
          echo "HOME: $HOME"
          echo "PATH: $PATH"
          command -v go
          command -v opam
          lscpu
          free -m
          # Install missing packages
          apt-get update -qq
          apt-get install -y \
            libsystemd-dev libglib2.0-dev libip4tc-dev libipset-dev libnfnetlink-dev \
            libnftnl-dev libnl-nf-3-dev libpopt-dev libpcap-dev libbpf-dev \
            bubblewrap git-lfs kpartx clang llvm cmake \
            protobuf-compiler python3-cracklib python3-protobuf \
            libreadline-dev liblua5.3-dev byacc flex
          apt-get upgrade -y

      - uses: actions/checkout@v6
        with:
          lfs: true
      - name: "Initialization: set env variables"
        id: set_env_variables
        run: |
          source <(sed -n '/enable programmable completion/,$p' /etc/skel/.bashrc)
          set -ex
          if [ -n "${{ github.event.inputs.BUILD_BY }}" ]; then
            echo "BUILD_BY=${{ github.event.inputs.BUILD_BY }}" >> $GITHUB_ENV
            echo "BUILD_BY=${{ github.event.inputs.BUILD_BY }}" >> $GITHUB_OUTPUT
          else
            echo "BUILD_BY=${{ github.repository_owner_id }}+${{ github.repository_owner }}@users.noreply.github.com" >> $GITHUB_ENV
            echo "BUILD_BY=${{ github.repository_owner_id }}+${{ github.repository_owner }}@users.noreply.github.com" >> $GITHUB_OUTPUT
          fi
          if [ -z "${{ github.event.inputs.build_version }}" ]; then
            echo "build_version=$(date -u +%Y.%m.%d-%H%M)-rolling" >> $GITHUB_OUTPUT
          else
            echo "build_version=${{ github.event.inputs.build_version }}" >> $GITHUB_OUTPUT
          fi
          echo "TIMESTAMP=$(date -u +%Y-%m-%dT%H:%M:%SZ)" >> $GITHUB_OUTPUT
          echo "PREVIOUS_SUCCESS_BUILD_TIMESTAMP=$(cat version.json | jq -r '.[0].timestamp')" >> $GITHUB_OUTPUT

      - name: Checkout vyos-build repo
        uses: actions/checkout@v6
        with:
          repository: vyos/vyos-build
          path: vyos-build

      - name: Fix vyos-build
        run: |

          source <(sed -n '/enable programmable completion/,$p' /etc/skel/.bashrc)
          set -ex
          git clone --recursive https://github.com/vyos/vyos-1x \
            -b current --single-branch vyos-build/scripts/package-build/vyos-1x/vyos-1x
          cp data/reftree.cache vyos-build/scripts/package-build/vyos-1x/vyos-1x/data/reftree.cache
          patch --no-backup-if-mismatch -p1 -d vyos-build/scripts/package-build/vyos-1x/vyos-1x < data/vyos-1x-001-system_console.patch
          patch --no-backup-if-mismatch -p1 -d vyos-build/scripts/package-build/vyos-1x/vyos-1x < data/vyos-1x-002-boot_console.patch
          patch --no-backup-if-mismatch -p1 -d vyos-build/scripts/package-build/vyos-1x/vyos-1x < data/vyos-1x-003-increase_vyshim_init_timeout.patch
          patch --no-backup-if-mismatch -p1 -d vyos-build/scripts/package-build/vyos-1x/vyos-1x < data/vyos-1x-004-enable_telegraf_support.patch
          patch --no-backup-if-mismatch -p1 -d vyos-build/scripts/package-build/vyos-1x/vyos-1x < data/vyos-1x-005-fix_podman_service.patch
          patch --no-backup-if-mismatch -p1 -d vyos-build/scripts/package-build/vyos-1x/vyos-1x < data/vyos-1x-006-install-image-reserve-gap.patch
          sed -i 's/all: clean copyright/all: clean/' vyos-build/scripts/package-build/vyos-1x/vyos-1x/Makefile
          cp data/config.boot.default vyos-build/data/live-build-config/includes.chroot/opt/vyatta/etc/
          patch --no-backup-if-mismatch -p1 -d vyos-build < data/vyos-build-001-kernel_config.patch
          patch --no-backup-if-mismatch -p1 -d vyos-build < data/vyos-build-002-mksquashfs_universal.patch
          patch --no-backup-if-mismatch -p1 -d vyos-build < data/vyos-build-003-fix_hardcoded_x86_64.patch
          patch --no-backup-if-mismatch -p1 -d vyos-build < data/vyos-build-005-add_vim_link.patch
          #patch --no-backup-if-mismatch -p1 -d vyos-build < data/vyos-build-006-fix_kernel_sign.patch
          patch --no-backup-if-mismatch -p1 -d vyos-build < data/vyos-build-007-no_sbsign.patch
          patch --no-backup-if-mismatch -p1 -d vyos-build < data/vyos-build-008-fix_live_boot_initramfs_link.patch
          patch --no-backup-if-mismatch -p1 -d vyos-build < data/vyos-build-009-live_boot_serial_console_device.patch

      - name: Build Image Packages
        run: |
          cd vyos-build/scripts/package-build
          source <(sed -n '/enable programmable completion/,$p' /etc/skel/.bashrc)
          set -ex
          # packages=$(ls .)
          packages="radvd vyos-1x linux-kernel"
          ignore_packages=(amazon-cloudwatch-agent amazon-ssm-agent xen-guest-agent)
          for package in $packages; do
            [ ! -d $package ] && continue
            [[ " ${ignore_packages[@]} " =~ " ${package} " ]] && continue
            cd $package

            [ $package == "keepalived" ] && apt-get install -y libsnmp-dev

            ./build.py

            [ $package == "keepalived" ] && apt-get remove -y libsnmp-dev

            # clean
            df -Th
            apt-get autoremove -y
            rm -rf $package *.gz *.xz $HOME/.cache/go-build $HOME/go/pkg/mod $HOME/.rustup
            df -Th
            cd ..
          done

      - name: Pick Packages
        run: |
          cd vyos-build
          source <(sed -n '/enable programmable completion/,$p' /etc/skel/.bashrc)
          deb_files=$(find scripts/package-build -name "*.deb" -type f | \
            grep -v -- -dbg | \
            grep -v -- -dev | \
            grep -v -- -doc
          )
          ignore_packages=(
            charon-cmd
            dropbear-initramfs
            dropbear-run
            eapoltest
            frr-test-tools
            isc-dhcp-client-ddns
            isc-dhcp-common
            isc-dhcp-keama
            isc-dhcp-server
            isc-dhcp-server-ldap
            libnetsnmptrapd40
            libsnmp-perl
            libtac2-bin
            libyang-modules
            libyang-tools
            # python3-nftables
            rtr-tools
            sflowovsd.deb
            snmptrapd
            strongswan-nm
            strongswan-pki
            tkmib
            waagent
            wide-dhcpv6-relay
            wide-dhcpv6-server
            vpp-plugin-devtools
            accel-ppp
          )
          for deb_file in $deb_files; do
            if [[ " ${ignore_packages[@]} " =~ " $(basename $deb_file | cut -d_ -f1) " ]]; then
              echo "ignore $deb_file"
              continue
            fi
            cp $deb_file packages
          done
          ls -alh packages

      - name: Archive Packages
        uses: actions/upload-artifact@v6
        with:
          name: vyos-packages
          path: vyos-build/packages/
          retention-days: 30
          compression-level: 0

      - name: Build generic ISO image
        id: build_generic_iso
        run: |
          cd vyos-build
          source <(sed -n '/enable programmable completion/,$p' /etc/skel/.bashrc)
          set -ex

          rm -rf packages/linux-headers-*
          # setup db directory for vnstat
          echo '[[includes_chroot]]' >> data/build-flavors/generic.toml
          echo 'path = "etc/vnstat.conf"' >> data/build-flavors/generic.toml
          echo "data = 'DatabaseDir \"/opt/vyatta/etc/config/user-data/vnstat\"'" >> data/build-flavors/generic.toml
          echo '[[includes_chroot]]' >> data/build-flavors/generic.toml
          echo 'path = "etc/systemd/system/vnstat.service.d/override.conf"' >> data/build-flavors/generic.toml
          echo "data = '''" >> data/build-flavors/generic.toml
          echo "[Unit]" >> data/build-flavors/generic.toml
          echo "After=local-fs.target" >> data/build-flavors/generic.toml
          echo "[Service]" >> data/build-flavors/generic.toml
          echo "ExecStartPre=+mkdir -p /opt/vyatta/etc/config/user-data/vnstat" >> data/build-flavors/generic.toml
          echo "ExecStartPre=+chown 104:112 /opt/vyatta/etc/config/user-data/vnstat" >> data/build-flavors/generic.toml
          echo "StateDirectory=" >> data/build-flavors/generic.toml
          echo "ProtectSystem=off" >> data/build-flavors/generic.toml
          echo "'''" >> data/build-flavors/generic.toml

          ./build-vyos-image \
            --architecture arm64 \
            --build-by $BUILD_BY \
            --build-type release \
            --debian-mirror $DEBIAN_MIRROR \
            --debian-security-mirror $DEBIAN_SECURITY_MIRROR \
            --version ${{ steps.set_env_variables.outputs.build_version }} \
            --vyos-mirror $VYOS_MIRROR \
            --custom-package vim \
            --custom-package libmbim-utils \
            --custom-package vnstat \
            --custom-package neofetch \
            --custom-package tree \
            --custom-package btop \
            --custom-package ripgrep \
            --custom-package wget \
            --custom-package ncdu \
            --custom-package fastnetmon \
            --custom-package containernetworking-plugins \
            --custom-package qemu-guest-agent \
            --custom-package mokutil \
            --custom-package sbsigntool \
            --custom-package grub-efi-arm64-signed \
            --custom-package shim-signed \
            generic
          cd build
          GENERIC_IMAGE_NAME=$(jq --raw-output .artifacts[0] manifest.json | sed -e 's/.iso//')
          GENERIC_IMAGE_ISO=$(jq --raw-output .artifacts[0] manifest.json)
          echo "generic_image_name=${GENERIC_IMAGE_NAME}" >> $GITHUB_OUTPUT
          echo "generic_image_iso=${GENERIC_IMAGE_ISO}" >> $GITHUB_OUTPUT

      - uses: actions/upload-artifact@v6
        with:
          name: ${{ steps.build_generic_iso.outputs.generic_image_name }}
          path: |
            ${{ steps.build_generic_iso.outputs.generic_image_iso }}
          retention-days: 15
          if-no-files-found: error
          compression-level: 0

  publish:
    needs:
      - build_generic_iso
    runs-on: ubuntu-24.04
    permissions:
      contents: write
    if: github.ref_name == 'master'
    steps:
      - uses: actions/checkout@v6
      - name: Clone vyos-build repo
        uses: actions/checkout@v6
        with:
          repository: vyos/vyos-build
          path: vyos-build
          fetch-depth: 0
      - name: Clone vyos-1x source code
        uses: actions/checkout@v6
        with:
          repository: vyos/vyos-1x
          path: vyos-1x
          fetch-depth: 0
